img {
    height: 100px;
}

ul {
    flex: auto;
    background-color: rgb(62, 54, 126);
    list-style-type: none;
    height: 25px;
}

ul li {
    display: inline-block;
    margin-right: 30px;

}

footer {
    margin-top: 100px;
}

.Название {
    font-weight: bold;
  }


a {
    text-decoration: none; 
    color: #171534;          
}

.Contact {
    font-weight: bold;
}